USE [master]
GO
/****** Object:  Database [HomePage]    Script Date: 2020/5/8 13:23:04 ******/
CREATE DATABASE [HomePage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HomePage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HomePage.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HomePage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HomePage_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomePage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomePage]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2020/5/8 13:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 2020/5/8 13:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[UpdateTime] [datetime] NULL,
	[UserId] [bigint] NOT NULL,
	[TypeName] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL,
	[DeleteTime] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2020/5/8 13:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNum] [nvarchar](11) NOT NULL,
	[PasswordHash] [varchar](max) NOT NULL,
	[PasswordSalt] [varchar](max) NOT NULL,
	[AdminUser] [nvarchar](20) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[DeleteTime] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

INSERT [dbo].[Article] ([Id], [Title], [Content], [UpdateTime], [UserId], [TypeName], [CreateTime], [DeleteTime], [IsDeleted]) VALUES (1, N'111', N'1111', NULL, 1, N'随笔心得', CAST(N'2020-05-05T16:08:19.720' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Article] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Email], [PhoneNum], [PasswordHash], [PasswordSalt], [AdminUser], [CreateTime], [DeleteTime], [IsDeleted]) VALUES (1, N'简约态度', N'jiwanyue521@gmail.com', N'13991414185', N'21604F11406B0C957F12D41A181550EA', N'hcwy', N'管理员', CAST(N'2020-05-05T16:07:16.093' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_UserId]    Script Date: 2020/5/8 13:23:04 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Article]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Article_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_dbo.Article_dbo.User_UserId]
GO
USE [master]
GO
